/* Style.css by Ksuserkqy for SSS */
/* 2024.6.16 */
/* MIT Licensed */

@charset "UTF-8";

* {
    margin: 0;
}

header {
    background-color: gray;
}

.main-section {
    padding: 20px;
}

.other-section .footer-section {
    padding: 0;
}

/* @font-face {
    font-family: HarmonyOS-Sans-SC;
    src: url(../font/HarmonyOS_Sans_SC_Medium.ttf);
} */

@font-face {
    font-family: Alibaba-web;
    src: url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-RegularL3/AlibabaPuHuiTi-3-55-RegularL3.ttf);
}

@font-face {
    font-family: Alibaba-local;
    src: url(../font/Alibaba-PuHuiTi-Medium.ttf);
}

.font {
    font-family: 'Alibaba-local', 'Alibaba-web', sans-serif;

}

.menu-box {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.menu-button {
    width: 50px;
    height: 50px;
    background-color: #009688;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(0, 150, 136, 0.3);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 990;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.menu-button:hover {
    background-color: #5FB878;
    box-shadow: 0 0 0 8px rgba(95, 184, 120, 0.3);
}

.menu-button .line-box {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.menu-button .line {
    background-color: #fff;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}

.menu-button .line:first-child {
    width: 50%;
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.menu-button .line:last-child {
    width: 50%;
    align-self: flex-end;
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.menu-list {
    width: 140px;
    background-color: #fff;
    border-radius: 8px;
    list-style: none;
    padding: 6px;
    box-shadow: 0 0 4px 4px rgba(95, 184, 120, 0.3);
    position: absolute;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.menu-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #009688;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transform: translateX(-10px);
    transition: 0.2s ease-in;
}

.menu-list li:hover {
    color: #5FB878;
}

.menu-list li::before {
    content: "";
    width: calc(100% - 24px);
    height: 1px;
    background-color: rgba(95, 184, 120, 0.3);
    position: absolute;
    bottom: 0;
    left: 12px;
}

.menu-list li:last-child::before {
    display: none;
}

.menu-list .fa {
    font-size: 18px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list span {
    font-size: 14px;
    margin-left: 8px;
}

.active .line-box {
    transform: rotate(-45deg);
}

.active .line-box .line:first-child {
    transform: rotate(-90deg) translateX(1px);
}

.active .line-box .line:last-child {
    transform: rotate(-90deg) translateX(-1px);
}

.active .menu-list {
    opacity: 1;
    transform: scale(1);
}

.active .menu-list li {
    animation: fade-in-item 0.4s linear forwards;
}

.active .menu-list li:nth-child(1) {
    animation-delay: 0.1s;
}

.active .menu-list li:nth-child(2) {
    animation-delay: 0.2s;
}

.active .menu-list li:nth-child(3) {
    animation-delay: 0.3s;
}

.active .menu-list li:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes fade-in-item {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sUELB {
    margin: 0 auto;
    max-width: 1280px;
}

._3c2cp {
    display: block;
    width: 140px;
    margin-bottom: 24px;
}

._3c2cp img {
    display: block;
    width: 100%;
    height: auto;
}

._2HR2_ {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: self-start;
    align-items: self-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex: 1 1;
    flex: 1 1;
}

._29g9u {
    margin-right: 10px;
}

._29g9u ._3rB7B {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 24px;
    white-space: nowrap;
}

._29g9u img {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 4px;
}

._1cYlJ {
    font-size: 12px;
    line-height: 1.6;
    color: #666;
    padding-top: 32px;
    border-top: 1px solid #262626;
}

._1cYlJ p {
    margin-bottom: 10px;
}

._1cYlJ a {
    color: #666;
}

@media (max-width: 1330px) {
    .sUELB {
        width: 100%;
        padding: 0 24px;
    }
}